@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');


body {
  max-width: 100%;
  background-color: ghostwhite;
  }


#logo-container {
  position: relative;
  width: 60%;
  margin: 0 auto;
 }

img {
  width: 100%;
  margin: 0 auto;
 
}

#main-img {
  width: 100%;
  margin-top: 30px;

}

#menu {
  display: block;
  width: 90%;
  margin: 0 auto -20px auto;

  border: 1px solid red;

}

#menu li {
  
  font-size: 20px;
  width: 23%; 
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}


#menu li a {
  text-decoration: none;
  color: brown;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
}

#menu li:hover {
 opacity: .4;
}


#art-collection {
  width: 100%;
  display: block;
  
}

#art-collection .art-pieces {
  width: 102px;
  height: 102px;
 
  
  padding: 10px;
  cursor: pointer;
}

#art-collection .art-pieces:nth-child(4n + 1) {
  padding-left: 0;
  
}

#art-collection .art-pieces:nth-child(4n + 4) {
  padding-right: 0;
  
  
}



#artist-pic {
  text-align: center;
  margin: 25px auto;
  display: block;
  width: 40%;
}

#artist-bio {
  width: 100%;
}


#duchenne-links {
  list-style-type: none;

}

#duchenne-links a {
  text-decoration: none;
}



footer {
 position: relative;
 bottom: 0;
 width: 100%;
 text-align: center;
}

  
  
